*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
/* seletor global */


html, body {
  
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    background: #7159C1;
    background-image: url("");
}

.main {
   
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 375px;
    height: 600px;
    margin: 40px;
    background-color: rgba(24, 13, 34, 0.678);
    /* border: 1px solid yellow; */
    
}

.img {
    width: 100%;
    height: 220px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.img img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 2rem;
    border: 2px solid yellow;
}

h1{
    font-size: 1.5rem;
    color: #fff;
    margin-top: 1rem;
    border-bottom: 1px solid yellow;

}


.links{
    margin-top: 3rem;
    list-style: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}
.links .ap {
    color: #fff;
    margin-bottom: 1rem;
}
.links li {
    width: 80%;
    height: 2.9rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7159C1;
}
.links li:hover{
    background-color: #62558f;
}
.links li a {
    color: #fff;
    text-decoration: none;
}


/* video */
.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(images/torre.jpg) no-repeat;
	background-size: cover; 
}



/* responsividade */
@media only screen and (max-width: 400px) {
    .container {
        width: 395px;
        height: 500px;
    }
    .img img {
        width: 9rem;
        height: 9rem;
    }
    .links li{
        margin-bottom: 5px;
    }
}